.Card{
    height: 20vh;
    width: 60vw;
    display: flex;
    background-color: #fff;
    border-bottom: 1px solid #D8E2DC;

}

.Card:nth-child(1){
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.Card:last-child{
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.Card--Left{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.Card--LeftImg{
    height: 75%;
    width: auto;
    border-radius: 50%;
    padding-top: 1rem;
}

.Card--LeftInfo{
    height: 15%;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}

.Card--LeftColor{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.Card--LeftTag{
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    min-width: 40%;
    justify-content: space-around;
}

.Card--Right{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.Card--RightHeading{
    font-size: 1.7rem;
    font-weight: 500;
    text-decoration: none;
    color: #EF626C;
    padding-left: 2rem;
}

.Card--RightPara{
    font-size: 1rem;
    font-weight: 300;
    padding-left: 2rem;
    padding-right: 2rem;
}

.Card--RightStats{
    height: 25%;
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Card--RightStatsBox{
    height: 25%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Card--RightStatsBoxImg{
    height: 100%;
    width: auto;
}

.Card--RightStatsBoxStat{
    font-size: 1rem;
    font-weight: 400;
}

@media(max-width: 576px){
    .Card{
        width: 90vw;
    }
    .Card--Left{
        width: 25%;
    }
    .Card--LeftImg{
        height: auto;
        width: 95%;
        padding-left: 0.5rem;
    }
    .Card--LeftTag{
        font-size: 0.7rem;
    }
    .Card--LeftColor{
        height: 0.6rem;
        width: 0.6rem;
    }
    .Card--Right{
        width: 75%;
    }
    .Card--RightHeading{
        font-size: 1.2rem;
    }
    .Card--RightPara{
        font-size: 0.8rem;
    }

    .Card--RightStats{
        width: 35%;
        padding-left: 2rem;
    }

    .Card--RightStatsBox{
        width: 45%;
    }
    .Card--RightStatsBoxStat{
        font-size: 0.8rem;
    }

}